body{
    background-color: bisque;
}

.principal{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#informacion{
    text-align: center;
}

a[href*=".edu"]{
    background-color: gold;
}

h1:hover{
    color:red
}

.principal::first-line{
    background-color: lightgray;
}